<% include ../partials/header %>

    <div id="main_content">

        <div id="main_beHelpAll">
            <h1>Show All NeedHelp posts</h1>
            
            <hr class="hr">
            <% res1.forEach(function(needhelp) { %>
     
                <p><b>Id:</b> <%=needhelp.IDneedhelp %></p>
                <p><b>Id user:</b> <%=needhelp.Id%></p>
                <p><b>Username:</b> <%=needhelp.username%></p>
                <p><b>Email:</b> <%=needhelp.email%></p>
                <p><b>Date:</b> <%=needhelp.Date%></p>
                <p><b>County</b>: <%=needhelp.County%></p>
                <p><b>City:</b> <%=needhelp.City%></p>
                <p><b>Description:</b> <%=needhelp.Description%></p>
                <hr>
                <button class="button"><a href="/deleteneedhelp-admin/<%= needhelp.IDneedhelp %>" onclick="return confirm('Delete it? Are you sure?');"><b>Delete</b></a></button>
                <button class="button"><a href="/edit-needhelp-admin/<%= needhelp.IDneedhelp %>" onclick="return confirm('Edite it? Are you sure?');"><b>Edit</b></a></button>
                <hr>
                <hr class="hr">
            <% }); %>
        </div>
            
    </div>

<% include ../partials/footer %>