<% include ../partials/header %>

    <div id="main_content">
        <h1>Contact Form:</h1>

        <div class="one-post">
            <% res1.forEach(function(needhelp) { %>
                <hr class="hr">
            
                <p><b>Added by:</b> <%=needhelp.firstname%> <%=needhelp.lastname%> (<%=needhelp.username%>)</p>
                <p><b>Date:</b> <%=needhelp.Date%></p>
                <p><b>Location:</b> <%=needhelp.City%>, <%=needhelp.County%></p>
                <p><b>Description:</b><i>"<%=needhelp.Description%>"</i></p>
                <hr class="hr">
        </div>
                  
            <form accept-charset="UTF-8" action="/send-message" method="post">
                <label for="sender"><b>From: </b> <%= user.username %></label><br><br>
                <input name="sender" type="hidden" value="<%= user.username %>">

                <input name="senderID" type="hidden" value="<%= user.Id %>">

                <label for="receiver"><b>Send to:</b>  <%=needhelp.firstname%> <%=needhelp.lastname%> (<%=needhelp.username%>)</label><br><br>
                <input name="receiver" type="hidden" value="<%= needhelp.username %>">
                
                <input name="receiverID" type="hidden" value="<%= needhelp.Id %>">

                <label for="Date">Date:</label>
                <input class="datePicker" name="Date" type="date"><br>

                <label for="message"><b>Your message:</b></label>
                <input class="input-message" name="message" type="text" placeholder="Please enter your mesage here" required/><br>
                <br>    
                <button class="button">Send message</button>

            </form>  
            <hr class="hr">
            <% }); %>
        <hr>   

    </div>

<% include ../partials/footer %>s